@font-face {
    font-family: myFont;
    src: url(../fonts/NBA\ Lakers.ttf);
}

p {
    color: black;
    font-family: Helvetica;
    font-size: 15pt;
}

p.lakers {
    background-color: gold;
    color: purple;
    font-family: myFont;
    font-size: 45pt;
    text-align: center;
}

p.bio {
    display: inline;
    position: absolute;
    top: 80px;
    background-color: gold;
    border: 5px solid purple;

}

body {
    background-color: gold;
    background-image: url(../images/court.jpg);
    background-size: 100%;
}

img.profile {
    border-radius: 50%;
    position: relative;
    top: -110px;
}

iframe {
    position: absolute;
    top: 250px;
    left: 472px;
}

a {
    font-family: Helvetica;
    font-size: 15pt;
}

div {
    position: absolute;
    bottom: 1px;
}
